*.py[cod]
.python-version
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.cache
pip-log.txt
.coverage
coverage.*
.tox
nosetests.xml
htmlcov
__pycache__/
.idea/